<template name="cateredEvents">
	<div class="ui main text container" id="locations">
		<h2 class="ui horizontal header divider title"><span>Book Us Any Time!</span></h2>
		<p>Blue Giraffe Creamery is available for private engagements: weddings, fund raisers, family reunions, sports tournaments, grand openings, etc. Call us to make your next event something special!</p>
		<p><strong>Ice Cream only</strong> - $500 for 100 servings of ice cream. Servings over 100 are $5 each. Prices are based on two flavours, if more flavours are required price may change. This includes a maximum of four hours on site, setup, and travel within 100 km. If additional time is required on site there will be an additional charge of $100 per hour.</p>
		<p>Waffles only, Mini Donuts only, or a combination with ice cream - Please contact us and we would be happy to give you a price.</p>
        <p>Additional cost for travel over 100km may apply.</p>
		<br/>
		<p>For more information, or to book your event, call Dan and Debbie at <strong><i class="phone icon"></i><a href="tel:444-5555">(780) 887-3603</a></strong>, or reach out by email <strong><a href="mailto:info@info.com"><i class="at icon"></i>info@bluegiraffecreamery.ca</a></strong></p>
	</div>
</template>