<template name="cateredEvents">
	<div class="ui main text container">
		<h2 class="ui horizontal header divider title"><span>Book Us Any Time!</span></h2>
		{{{ dict 'text.cateredEventText' }}}
		<br/>
		<p>For more information, or to book your event, call Jerrett and Becky at <strong><i class="phone icon"></i><a href="tel:780-246-1265">(780) 246-1265</a></strong>, or reach out by email <strong><a href="mailto:info@bluegiraffecreamery.ca"><i class="at icon"></i>info@bluegiraffecreamery.ca</a></strong></p>
	</div>
</template>