<template name="footer">
	<div class="ui vertical footer segment" id="footer">
		<div class="ui grid">

        	<div class="tablet only computer only ten wide center aligned column">
       			<span>Contact Jarrett and Becky at:<br/><i class="phone icon"></i><a href="tel:780-246-1265">(780) 246-1265</a><br/><a href="mailto:info@bluegiraffecreamery.ca"><i class="at icon"></i>info@bluegiraffecreamery.ca</a></span>
        	</div>

        	<div class="mobile only sixteen wide center aligned column">
       			<span>Contact Jarrett and Becky at:<br/><i class="phone icon"></i><a href="tel:780-246-1265">(780) 246-1265</a><br/><a href="mailto:info@bluegiraffecreamery.ca"><i class="at icon"></i>info@bluegiraffecreamery.ca</a></span>
        	</div>

			<div class="tablet only computer only six wide center aligned column">
				<span class="ui center aligned"><br/><br/>website made with <i class="large red heart icon"></i> by <a class="myname" href="http://michaelkant.com" style="color: #000;">michael kant</a></span>
        	</div>
		</div>
	</div>
</template>
