<template name="footer">
	<div class="ui vertical footer segment" id="footer">
		<div class="ui grid">

        	<div class="tablet only computer only ten wide center aligned column">
       			<span>Contact Dan and Debbie at:<br/><i class="phone icon"></i>(780) 887-3603<br/>info@bluegiraffecreamery.ca</span>
        	</div>

        	<div class="mobile only sixteen wide center aligned column">
       			<span>Contact Dan and Debbie at:<br/><i class="phone icon"></i>(780) 887-3603<br/>info@bluegiraffecreamery.ca</span>
        	</div>

			<div class="tablet only computer only six wide center aligned column">
				<span class="ui center aligned"><br/><br/>website made with <i class="large red heart icon"></i> by <a class="myname" href="http://contact.michaelkant.com" style="color: #000;">michael kant</a></span>
        	</div>
		</div>
	</div>
</template>