<template name="header">
	<div class="ui sticky borderless stackable secondary pointing menu menubar computer only grid">
	    <div class="ui text container">
	        <div class="ui item">
		    	<a href="/"><img class="ui tiny left image" src="/images/giraffeLogo.png"></a>
	        	<a href="/" class="item"><h2 class="title-text">Blue Giraffe Creamery</h2></a>
	        </div>
		</div>
	    <div class="ui text container">
		    <div class="ui item">
				<a id="nav-ourStory" href="ourStory" class="item"><h2>Our Story</h2></a>
				<a id="nav-menu" href="menu" class="item"><h2>Menu</h2></a>
				<a id="nav-locations" href="locations" class="item"><h2>Locations</h2></a>
				<a id="nav-events" href="events" class="item"><h2>Catered Events</h2></a>
				<a id="nav-photos" href="photos" class="item"><h2>Photos</h2></a>
		    </div>
	    </div>
	</div>

	<div class="ui borderless stackable secondary pointing menu menubar mobile only tablet only grid">

	<a href="/"><img class="ui tiny left image" src="images/giraffeLogo.png"></a>
	<a href="/" class="item"><h2 class="title-text">Blue Giraffe Creamery</h2></a>
	<div class="ui simple right floated dropdown item">
		<i class="huge sidebar icon"></i>
			<div class="ui sidebar inverted vertical menu">
				<a id="nav-ourStory" href="ourStory" class="item"><h2>Our Story</h2></a>
				<a id="nav-menu" href="menu" class="item"><h2>Menu</h2></a>
				<a id="nav-locations" href="locations" class="item"><h2>Locations</h2></a>
				<a id="nav-events" href="events" class="item"><h2>Catered Events</h2></a>
				<a id="nav-photos" href="photos" class="item"><h2>Photos</h2></a>
			</div>
		</div>
	</div>
</template>
