<template name="ourStory">
	<div class="ui main text container" id="ourstory">
		<h2 class="ui horizontal header divider title"><span>A Love Affair With Ice Cream</span></h2>

		{{{ dict 'text.ourStoryWelcome' }}}

		<div class="ui two column grid">
			<div class="ui center aligned column">
			<h1 class="ui horizontal header divider title"><span class="social-title">Find Us On Social Media</span></h1>
				<h1><a href="https://twitter.com/TheBGCreamery"><i class="big twitter icon"></i></a><a href="https://www.facebook.com/BlueGiraffeCreamery/"><i class="big facebook icon"></i></a></h1>
			</div>
			<div class="ui center aligned column">
			<h2 class="ui horizontal header divider title"><span class="social-title">Edmonton Street Food App</span></h2>
				<h1><a href="https://play.google.com/store/apps/details?id=com.tatlowpark.streetfood.edmonton"><i class="big android icon"></i></a><a href="http://itunes.apple.com/ca/app/street-food-edmonton/id550037983?mt=8"><i class="big apple icon"></i></a><a href="http://www.windowsphone.com/en-ca/store/app/street-eats/f0fcbb60-fb17-4afe-b386-355f7bfe6237"><i class="big windows icon"></i></a></h1>
			</div>
		</div>
	</div>
</template>