<template name="menu">
	<section id="menuItems" class="ui container">
		<div class="ui stackable grid">
			<div class="six wide column">
				<img class="ui fluid centered image" src='{{menuPageImage.photo.url}}'>
			</div>
			<div class="ten wide column text container">
				{{{ dict 'text.menuWelcome' }}}
			</div>
		</div>
		<h2 class="ui horizontal header divider title" id="flavours"><span>Ice Cream Flavours</span></h2>
		<div class="ui items doubling three column relaxed equal height grid container">
			{{#each flavours}}
				<div class="column">
					<div class="ui centered message">
						{{#if photo}}
						<div class="flavour-image" style="background-image: url({{photo.url}});"></div>
						{{else}}
						<div class="flavour-image" style="background-image: url('{{imageMissingImage.photo.url}}');"></div>
						{{/if}}
						<div class="content">
							<div class="ui centered header">{{name}}
							</div>
							<p>{{description}}</p>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		<h2 class="ui horizontal header divider title" id="lollywaffles"><span>{{{ dict 'text.menuWaffleHeadline' }}}</span></h2>
		<div class="ui mobile reversed stackable relaxed grid container">
			<div class="waffle-text-container six wide stackable column">
				{{{ dict 'text.menuWaffle' }}}			
			</div>
			<div class="waffle-item-container ten wide ui items column grid container">
				{{#each waffles}}
					<div class="five wide column">
						<div class="ui centered message">
							{{#if photo}}
							<div class="flavour-image" style="background-image: url({{photo.url}});"></div>
							{{else}}
							<div class="flavour-image" style="background-image: url('{{imageMissingImage.photo.url}}');"></div>
							{{/if}}
							<div class="content">
								<div class="ui centered header">{{name}}
								</div>
								<p>{{description}}</p>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>

		<h2 class="ui horizontal header divider title" id="finalFeaturedItems"><span>{{{ dict 'text.menuFeaturedItemHeader' }}}</span></h2>
		<div class="ui items doubling three column relaxed equal height grid container">
			{{#each finalFeaturedItem}}
				<div class="column">
					<div class="ui centered message">
						{{#if photo}}
						<div class="flavour-image" style="background-image: url({{photo.url}});"></div>
						{{else}}
						<div class="flavour-image" style="background-image: url('{{imageMissingImage.photo.url}}');"></div>
						{{/if}}
						<div class="content">
							<div class="ui centered header">{{name}}
							</div>
							<p>{{description}}</p>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
 
 		<div class="ui two column grid">
			<div class="ui center aligned column">
				<h2 class="ui horizontal header divider title"><span>Toppings</span></h2>
				{{{ dict 'text.menuToppings' }}}
			</div>
			<div class="ui center aligned column">
				<h2 class="ui horizontal header divider title"><span>Other Items</span></h2>
				{{{ dict 'text.menuOtherItems' }}}
			</div>
		</div>
	</section>
</template>